<a href="https://colab.research.google.com/github/call-me-ky/SEEL4213-01_22231_Group8/blob/main/ECG_management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import datetime

# engine = create_engine(dialect+driver://username:password@host:port/database_name)
engine = create_engine("postgresql+psycopg2://postgres:password123@139.59.254.206:5432/jiande")

conn = psycopg2.connect(
                        host = "139.59.254.206",
                        port = 5432,
                        dbname = "jiande",
                        user = "postgres",
                        password = "password123"
                        )

In [60]:
def create_patient_table():
        cursor = conn.cursor()

        query = """
            CREATE TABLE IF NOT EXISTS patients (
                id SERIAL PRIMARY KEY,
                name VARCHAR(255) NOT NULL,
                geolat DOUBLE PRECISION NOT NULL,
                geolong DOUBLE PRECISION NOT NULL,
                heartbeat INTEGER NOT NULL,
                o2_saturation INTEGER NOT NULL,
                bloodpressure INTEGER NOT NULL
            );
        """
        cursor.execute(query)
        conn.commit()

        print("Table created successfully")

        cursor.close()

In [ ]:
def store_patient_data(name, geolat, geolong, heartbeat, o2_saturation, bloodpressure):
        cursor = conn.cursor()

        query = """
            INSERT INTO patients (name, geolat, geolong, heartbeat, o2_saturation, bloodpressure)
            VALUES (%s, %s, %s, %s, %s, %s);
        """
        cursor.execute(query, (name, geolat, geolong, heartbeat, o2_saturation, bloodpressure))
        conn.commit()

        print("Data stored successfully")

        cursor.close()

Data stored successfully

In [ ]:
def update_patient_data(patient_id, name, geolat, geolong, heartbeat, o2_saturation, bloodpressure):
        cursor = conn.cursor()

        query = """
            UPDATE patients SET name = %s, geolat = %s, geolong = %s, heartbeat = %s,
            o2_saturation = %s, bloodpressure = %s WHERE id = %s;
        """
        cursor.execute(query, (name, geolat, geolong, heartbeat, o2_saturation, bloodpressure, patient_id))
        conn.commit()

        print("Data updated successfully")

        cursor.close()

Data updated successfully

In [ ]:
def create_ecg_table():
        cursor = conn.cursor()

        query = """
            CREATE TABLE IF NOT EXISTS ecg_data(
                patient_id INTEGER REFERENCES patients(id) NOT NULL,
                timestamp TIMESTAMP NOT NULL,
                ecg DOUBLE PRECISION NOT NULL
            );
        """
        cursor.execute(query)
        conn.commit()

        print("Table created successfully")

Table created successfully

In [ ]:
def insert_ecg_data(patient_id, ecg):
        cursor = conn.cursor()

        query = """
            INSERT INTO ecg_data (patient_id, timestamp, ecg)
            VALUES (%s, %s, %s);
        """
        timestamp = datetime.datetime.now()
        cursor.execute(query, (patient_id, timestamp, ecg))
        conn.commit()

        print("Data inserted successfully")

Data inserted successfully

In [ ]:
def get_latest_patient_data(patient_id):
        cursor = conn.cursor()

        query = """
            SELECT * FROM ecg_data
            WHERE patient_id = %s
            ORDER BY timestamp DESC
            LIMIT 20;
        """
        cursor.execute(query, (patient_id,))
        results = cursor.fetchall()

        for row in results:
            return("timestamp:", row[1], "ecg:", row[2])

('timestamp:', datetime.datetime(2023, 2, 3, 15, 28, 46, 89849), 'ecg:', 0.222)

In [ ]:
# Call the function to create the patient table
create_patient_table()

# Call the function to store new patient data
store_patient_data("Lebron James", 100.8888, -122.4194, 62, 88, 100)

# Call the function to update patient data
update_patient_data(1, "Jane Doe", 37.7749, -122.4194, 75, 98, 130)

# Call the function to create the ecg table
create_ecg_table()

# Call the function to store the new ecg data
insert_ecg_data(1, 0.222)

# Call the function to retrieve the latest 20 ecg data for a specific patient
get_latest_patient_data(1)